@media (min-width: 1000px){
    .ce-toolbar__actions--opened {
        transform: translate(60px, 0px);
    }
}

.cmsEditor{
    h1{ font-size: 40px; color: var(--headerColor); }
    h2{ font-size: 30px; color: var(--headerColor); }
    h3{ font-size: 30px; color: var(--headerColor); }
    h4{ font-size: 30px; color: var(--headerColor); }
    h1{
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
    }
    h2{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        color: var(--textColor);
        margin-bottom: 10px;
        .inline-code{
            font-weight: 200;
            background-color: #12181b;
            padding: 3px 5px;
            border-radius: 4px;
        }
    }
    // Code
    pre {
        // background-color: #12181b;
        // color: #e0e0e0;
        font-size: 15px;
        font-weight: 400;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 25px;
    }
    // List
    ol,ul{
        color: var(--textColor);
        font-size: 15px;
        font-weight: 600;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    li{ margin-bottom: 5px; }
}